<section id="contactame">
  <div
    class="bg-black px-10 md:px-20 py-20 mt-20 mx-auto flex flex-col items-center text-center"
  >
    <h2 class="text-white text-3xl md:text-6xl">
      ¿Listo para transformar tu negocio?
    </h2>
    <p class="text-slate-500 mt-4 text-lg md:text-xl">
      Contáctame hoy para una consulta gratuita y descubre cómo puedo ayudarte a
      alcanzar tus objetivos.
    </p>
    <div class="flex mt-5">
      <a
        rel="noopener"
        target="_blank"
        href="https://wa.me/51979188529?text=Hola,%20quiero%20más%20información%20sobre%20sus%20servicios"
        class="inline-flex items-center justify-center rounded-full border border-transparent bg-white px-5 py-2 text-base font-medium text-black md:px-8 md:py-3"
      >
        Agendar una Consulta
      </a>
    </div>
  </div>
</section>
