---
import { Image } from "astro:assets";

const features = [
  {
    title: "Análisis de Procesos",
    description:
      "Realizo un diagnóstico exhaustivo de tus procesos actuales, identificando cuellos de botella y oportunidades de mejora para optimizar tu operación.",
    icon: "https://api.iconify.design/ix:chart-diagram.svg",
  },
  {
    title: "Desarrollo Personalizado",
    description:
      "Creo software a medida utilizando las últimas tecnologías y mejores prácticas, desde aplicaciones web hasta sistemas empresariales completos adaptados a tus necesidades específicas.",
    icon: "https://api.iconify.design/material-symbols:code-blocks-outline-sharp.svg",
  },
  {
    title: "Implementación y Soporte",
    description:
      "Aseguro una transición sin problemas con mi metodología de implementación probada y proporciono soporte técnico continuo para garantizar el éxito a largo plazo.",
    icon: "https://api.iconify.design/material-symbols:help-center-outline-sharp.svg",
  },
];
---

<section id="servicios" class="mb-40">
  <div class="mt-16 md:mt-0">
    <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">
      Soluciones Personalizadas para tu Negocio
    </h2>
    <p class="text-lg mt-4 text-slate-600">
      Ofrezco servicios diseñados para transformar tu visión empresarial en
      soluciones tecnológicas efectivas y adaptadas a tus necesidades
      específicas.
    </p>
  </div>

  <div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-16">
    {
      features.map((feature) => (
        <div class="flex gap-4 items-start">
          <Image
            width="48"
            height="48"
            class="w-12 h-12"
            src={feature.icon}
            alt={feature.title}
          />
          <div>
            <h3 class="font-semibold text-lg">{feature.title}</h3>
            <p class="text-slate-500 mt-2 leading-relaxed">
              {feature.description}
            </p>
          </div>
        </div>
      ))
    }
  </div>
</section>
