---
import { Image } from "astro:assets";

const technologies = [
  { name: "Next.js", src: "https://cdn.svgporn.com/logos/nextjs.svg" },
  { name: "Nuxt.js", src: "https://cdn.svgporn.com/logos/nuxt.svg" },
  {
    name: "NestJS",
    src: "https://upload.wikimedia.org/wikipedia/commons/3/37/NestJS-logo-wordmark.svg",
  },
  { name: "MongoDB", src: "https://cdn.svgporn.com/logos/mongodb.svg" },
  {
    name: "PostgreSQL",
    src: "https://hevodata.com/learn/wp-content/uploads/2023/06/postgresql-logo.png",
  },
  {
    name: "Firebase",
    src: "https://firebase.google.com/static/downloads/brand-guidelines/SVG/logo-standard.svg",
  },
];
---

<section id="tecnologias" class="mb-40">
  <div class="mt-16 md:mt-0">
    <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">
      Tecnologías que Domino
    </h2>
    <p class="text-lg mt-4 text-slate-600">
      Utilizo un stack tecnológico moderno y probado que me permite crear
      soluciones robustas, escalables y mantenibles para mis clientes.
    </p>
  </div>

  <div class="relative w-full overflow-hidden flex">
    <div class="flex logo-slide space-x-12 mx-4">
      {
        technologies.concat(technologies).map(({ name, src }) => (
          <div class="flex items-center justify-center bg-white rounded-xl w-44 h-44 p-6">
            <Image
              src={src}
              alt={name}
              width="48"
              height="48"
              class="w-full h-full object-contain"
            />
          </div>
        ))
      }
    </div>
  </div>
</section>
